<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Doctors list</title>
</head>
<body
	style="min-height: 100vh; background-image: linear-gradient(whitesmoke, skyblue); background-repeat: no-repeat; background-size: contain;">
	<!-- To display all the doctors -->
	<div class="container-fluid bg-info p-3 mb-3 h5 text-light">Patient
		Management Application</div>
	<p class="text-center h5">Doctor's List</p>
	<div class="container">
	<a th:href="@{/doctorScreen}" alt="home page" type="button" class="btn btn-primary mb-4 btn-hover">Home page</a>
		<a th:href="@{/doctorScreen/doctors}" type="button"
			class="btn btn-primary mb-4 btn-hover">Add Doctor</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Qualification</th>
					<th>Experience</th>
					<th>Specialist</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="doctor:${doctors}">
					<td th:text="${doctor.id}"></td>
					<td th:text="${doctor.name}"></td>
					<td th:text="${doctor.qualification}"></td>
					<td th:text="${doctor.experience}"></td>
					<td th:text="${doctor.specialist}"></td>
					<td><a
						th:href="@{/doctorScreen/updatedoctor/{id}(id=${doctor.id})}"
						type="button" class="btn btn-primary">Update</a> <a
						th:href="@{/doctorScreen/deletedoctor/{id}(id=${doctor.id})}"
						type="button" class="btn btn-success">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>