<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Patient Login</title>
</head>

<body
	style="min-height: 100vh; background-image: linear-gradient(whitesmoke, skyblue); background-repeat: no-repeat; background-size: contain;">
<!-- login page -->
	<!-- create navigation bar ( header) -->
	<div
		class="container-fluid bg-info text-white p-1 d-flex flex-column flex-md-row justify-content-start align-items-center">
		<p class="rounded-circle bg-white h1 border m-1">🩺</p>
		<h3 class="mb-2 mb-md-0">Patient Management Application</h3>
	</div>

	<br>
	<div class="container d-flex justify-content-center">
		<div class="col-md-6 col-md-offset-3 bg-light border p-4">

			<div th:if="${param.error}">
				<div class="alert alert-info">Email or Password entered is
					Wrong.Please Check and Login Again.</div>
			</div>

			<h1>Login</h1>

			<form th:action="@{/login}" method="post" th:object="${user}">

				<div class="form-group">
					<label class="control-label" for="email"> Email </label> <input
						id="email" class="form-control" th:field="*{username}" required
						autofocus="autofocus" />
				</div>



				<div class="form-group">
					<label class="control-label" for="password"> Password </label> <input
						id="password" class="form-control" type="password"
						th:field="*{password}" required autofocus="autofocus" />
				</div>

				<div class="form-group mt-2">
					<button type="submit" class="btn btn-primary">Log In</button>
					<span>New User? <a href="/" th:href="@{/registration}">Register
							here</a></span>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>