<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Patient list</title>
</head>
<body
	style="min-height: 100vh; background-image: linear-gradient(whitesmoke, skyblue); background-repeat: no-repeat; background-size: contain;">
	<!-- To display all the patients -->
	<div class="container-fluid bg-info p-3 mb-3 h5 text-light">Patient
		Management Application</div>
	<p class="text-center h5">Patient History</p>

	<div class="container">
	<a th:href="@{/dashboard}" alt="home page" type="button" class="btn btn-primary mb-4 btn-hover">Home page</a>
		<a th:href="@{/dashboard/patients}" type="button"
			class="btn btn-primary mb-4 btn-hover">Add patient Information</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Age</th>
					<th>Phone Number</th>
					<th>Disease</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patient:${patients}">
					<td th:text="${patient.name}"></td>
					<td th:text="${patient.gender}"></td>
					<td th:text="${patient.age}"></td>
					<td th:text="${patient.phoneNo}"></td>
					<td th:text="${patient.disease}"></td>
					<td><a
						th:href="@{/dashboard/updatepatient/{id}(id=${patient.id})}"
						type="button" class="btn btn-primary">Update</a> <a
						th:href="@{/dashboard/deletepatient/{id}(id=${patient.id})}"
						type="button" class="btn btn-success">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>